*{
  box-sizing: border-box;
}

h1{
  text-align: center;
}

p {
  background-color: #bfbfbf;
  border: 2px solid black;
  height: 150px;
  margin-right: 10px;
  padding: 40px 10px 5px 10px;
  overflow: hidden;
}


#container {
  position: relative;
  
}

#p1 {
  background-color: #D59898;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p2 {
  background-color:#C14543 ;
  color: white;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
#p3 {
 background-color: #E5D198;
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  height: 35px;
  width: 120px;
  padding: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}


.row {
  width: 100%;

}


/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }

  
}

